.row
	.textInfo
		p
			| Cooking involves a lot of other smaller activities. Plenty of room to be efficient!
	
.row
	.col
		h5.tip
			| Using energy-efficient appliances
	.col
		#tip13.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Covering pots and pans when cooking
	.col
		#tip14.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Using a dishwasher on low temperature
	.col
		#tip15.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Filling the water kettle with the only the amount you need
	.col
		#tip16.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
