.row
	.col.textInfo
		p
			| Cooking involves a lot of other smaller activities. Plenty of room to be efficient!
	.col
		.todolist
			.list
				ul
					li
						input#pure-toggle-16(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-16")
							i.fa.fa-times.fa-2x
							span Use energy-efficient appliances
					li
						input#pure-toggle-17(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-17")
							i.fa.fa-times.fa-2x
							span Cover pots and pans
					li
						input#pure-toggle-18(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-18")
							i.fa.fa-times.fa-2x
							span Use a dishwasher on low temperature
					li
						input#pure-toggle-19(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-19")
							i.fa.fa-times.fa-2x
							span No hot food in the fridge
					li
						input#pure-toggle-20(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-20")
							i.fa.fa-times.fa-2x
							span Microwave small portions of food
					li
						input#pure-toggle-21(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-21")
							i.fa.fa-times.fa-2x
							span Water kettle is not overfilled