.row
	
	.textInfo
		p
			| To lower your heating bill you'll need to either switch to gas or lower your thermostat by several degrees. Every lowered degree will influence your bill by ~ 80ยฃ per year. There are some solutions to feeling warmer at home.
.row
	.col
		h5.tip
			| Set thermostat to 18ยบ
	.col
		#tip1.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never

.row
	.col
		h5.tip
			| Close doors to unused rooms
	.col
		#tip2.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Wearing warm clothes and slippers
	.col
		#tip3.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Keeping your bedroom at lower temperature (~16-17ยบ)
	.col
		#tip4.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
	
