extends layout

block content
	.coverContainer
		section#cover.cover
			h1.coverHeading(contenteditable="", data-heading="Energy efficiency") Energy efficiency
			ul.bubbles
				li
				li
				li
				li
				li
				li
				li
				li
				li
				li
				li
				li
				li
				li

			form(action="/",method="POST",style="position:relative;top:90%")
				button.buttons.myBtn.colorRed(type="submit",name="logout",value = "leave")
					| Log out
			p.animated.shake Scroll

	.container
			section
				h1.titleFAQ 
					| FAQ
					
					p
						| Hey #{user}, do you have time some time to reflect on your energy consumption?
					
			// END OF TOGGLE
			.toggle.spacer
				.toggle-title
					h3
						i
						span.title-name  Why should I care about the way I use energy?
				.toggle-inner
					p
						| Short answer: You'll save time and money.
					p
						| Long answer: While we do sometimes notice the results of our consumption and energy usage, we typically don't put them in perspective. That's because we see them too up close - day by day, week by week. However, small changes in our everyday practises can lead to big changes in the long run. 
								
			.toggle
				.toggle-title
					h3
						i
						span.title-name What contributes to my energy bill the most?
				.toggle-inner
					.row
						.col
							p
								| Usually keeping your accommodation warm and heating water. For you #{user} those currently contribute 73 % to your bill.
						.col
							canvas#generalChart
			// END OF TOGGLE
			.toggle
				.toggle-title
					h3
						i
						span.title-name What should I do to make a difference in my bill?
				.toggle-inner
					.containerPyramid
						h3.text-center(style="margin:4vh")
							| I don't think I'll have enough space here.
							br
							| Let's go somewhere else.
						form(action="/",method="POST")
							button.buttons.myBtn.colorRed(type="submit",value="button",name="slideshow",style="margin:auto") Click me

			
			.toggle
				.toggle-title
					h3
						i
						span.title-name  I'm more of a checklist person.
				.toggle-inner
					
					#focusDiv.container.info.heightLimited
						.row
							button#heating.text-center.buttons.myBtn.colorRed Heating
						
							button#water.text-center.buttons.myBtn.colorBlue Water
						
							button#laundry.text-center.buttons.myBtn.colorPurple Laundry
						
							button#cooking.text-center.buttons.myBtn.colorYellow Cooking
						.row
							.col
								.progress
									.progress-bar.progress-bar-striped.bg-danger(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100",style="width:0%",id="progressBar")
										h1.invisible
											| Progressbar
							.col
								h4.achievementTitle
									| You are 0% energy-efficient!
  
							
						#contentRow.row
							.explain
								
								.containerHeating.hiddenStuff
									include heatingTodo.pug

								.containerWater.hiddenStuff
									include waterTodo.pug

								.containerLaundry.hiddenStuff
									include laundryTodo.pug

								.containerCooking.hiddenStuff
									include cookingTodo.pug

								form(action="/",method="POST",id="pref").hiddenStuff
									button.buttons.saveBtn(type="submit",value="save",name="preferences",style="margin:auto", id="savePref") Save		
			
				// END OF TOGGLE
			
			.toggle
				.toggle-title
					h3
						i
						span.title-name What does 1£ of energy use look like?
				.toggle-inner
					.row
						img#infograph.spacer(src="images/Infograph.png")

			

			// END OF TOGGLE

			//- .toggle
			//- 	.toggle-title
			//- 		h3
			//- 			i
			//- 			span.title-name   Can you visualize this in a different way?
			//- 	.toggle-inner
			//- 		p
			//- 			| Sure.
			//- 		img#houseOutside.animated.pulse.infinite(src="images/HouseOutside.png")
			//- 		img#houseInside.hiddenStuff(src="images/HouseInside.png")
			
		


			
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js")
	script(src="javascripts/jquery.js")
	script(src="javascripts/index.js")
	script(src="javascripts/containers.js")
	script(src="javascripts/slider.js")
	script(src="javascripts/house.js")
	
	
