.row
	.textInfo
		p
			| Doing laundry contributes a lot to our energy and water bill. The fortunate thing is that there are many ways in which we can optimise it.

.row
	.col
		h5.tip
			| Dry-hanging clothes
	.col
		#tip9.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Using low temperature (30ยบ) with a high spin
	.col
		#tip10.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Washing full loads but not overfilling
	.col
		#tip11.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| When not dry-hanging laundry, machine-drying on low heat with high spin
	.col
		#tip12.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
	