.row
	.col.textInfo
		p
			| Doing laundry contributes a lot to our energy and water bill. The fortunate thing is that there are many ways in which we can optimise it.

	.col
		.todolist
			.list
				ul
					li
						input#pure-toggle-11(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-11")
							i.fa.fa-times.fa-2x
							span Dry-hanging clothes
					li
						input#pure-toggle-12(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-12")
							i.fa.fa-times.fa-2x
							span Use low temperature (30ยบ) with a high spin
					li
						input#pure-toggle-13(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-13")
							i.fa.fa-times.fa-2x
							span Wash full loads but don't overfill
					li
						input#pure-toggle-14(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-14")
							i.fa.fa-times.fa-2x
							span Hot wash only whites ocassionally 
					li
						input#pure-toggle-15(type="checkbox", hidden="")
						label.pure-toggle(for="pure-toggle-15")
							i.fa.fa-times.fa-2x
							span Machine-dry on low heat with high spin