doctype html
html
  head
    title= title
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/helpers.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/var.css')
    link(rel='stylesheet', href='/stylesheets/todo.css')
    link(rel='stylesheet', href='/stylesheets/slider.css')
    link(rel='stylesheet', href='/stylesheets/achievementBar.css')
    
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block content

    	
