
	//- .todolist
	//- 	.list
	//- 		ul
	//- 			li
	//- 				input#pure-toggle(type="checkbox", hidden="")
	//- 				label.pure-toggle(for="pure-toggle")
	//- 					i.fa.fa-times.fa-2x
	//- 					span Set thermostat to 18ยบ
	//- 			li
	//- 				input#pure-toggle-2(type="checkbox", hidden="")
	//- 				label.pure-toggle(for="pure-toggle-2")
	//- 					i.fa.fa-times.fa-2x
	//- 					span Wearing a sweater and slippers
	//- 			li
	//- 				input#pure-toggle-3(type="checkbox", hidden="")
	//- 				label.pure-toggle(for="pure-toggle-3")
	//- 					i.fa.fa-times.fa-2x
	//- 					span Keep your bedroom at 16ยบ
	//- 			li
	//- 				input#pure-toggle-4(type="checkbox", hidden="")
	//- 				label.pure-toggle(for="pure-toggle-4")
	//- 					i.fa.fa-times.fa-2x
	//- 					span Lay down carpets
	//- 			li
	//- 				input#pure-toggle-5(type="checkbox", hidden="")
	//- 				label.pure-toggle(for="pure-toggle-5")
	//- 					i.fa.fa-times.fa-2x
	//- 					span Close door to unused rooms