doctype html
html
    head
        title= 'Energy Efficiency'
        link(rel='stylesheet', href='/stylesheets/login.css')

    body
        .wrapper
            .container
                h1 Sign up
                form.form(method="post",action="/")
                    input(type="text", placeholder="Type your username",name='newUsername')
                    input(type="password", placeholder="Type your password", name='newPassword')
                    button#register-button(type="submit") Create my account
            ul.bg-bubbles
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li

        script(src="javascripts/jquery.js")

