.row
	.textInfo
		p
			| A lot of our daily activities are related to water. Reduce the amount you used but also the amount of hot water you used as well.

.row
	.col
		h5.tip
			| Showers last 5-6 mins
	.col
		#tip5.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Using cold water when not needing hot
	.col
		#tip6.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Not leaving water running while doing something else
	.col
		#tip7.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
.row
	.col
		h5.tip
			| Stopping the water while shampooing and shaving
	.col
		#tip8.range-slider
			input.range-slider__range(type="range",value="0",min="0",max="4",step="1")
			span.range-slider__value
				| Never
