
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

.info{
  margin: 0px;
  padding: 0px;
  width: 100%;

}

.heightLimited{
  height: 10%;
}


.activeInfo{
  text-decoration: underline;
  color: #5C8100;
}


.info h2{
  margin-top:5vh;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.explain{
  height: 5vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

/*.hiddenStuff{
  display:none;
}*/

.info p{
  font-family: 'Open Sans', sans-serif;
}

.textInfo{
  margin: 5vh;
}

.buttons {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 5px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.buttons:hover, .buttons:focus {
  color: #fff;
  outline: 0;
}


.myBtn {
  border-radius: 3em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: -webkit-linear-gradient(top, transparent 50%, #2ecc71 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.myBtn:hover, .myBtn:focus {
  color: #fff;
  background-position: 0 100%;
}

.saveBtn{
   border-radius: 1em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: -webkit-linear-gradient(top, transparent 50%, #2ecc71 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
  padding: 0.5em 1.2em;
}
.saveBtn:hover, .saveBtn:focus {
  color: #fff;
  background-position: 0 100%;
}


.colorPurple{
  border-color:#8e44ad;
  color:#8e44ad;
  background-image: -webkit-linear-gradient(top, transparent 50%, #8e44ad 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #8e44ad 50%);
}

.colorBlue{
  border-color:#3498db;
  color:#3498db;
  background-image: -webkit-linear-gradient(top, transparent 50%, #3498db 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #3498db 50%);
}

.colorRed{
  border-color:#e74c3c;
  color:#e74c3c;
  background-image: -webkit-linear-gradient(top, transparent 50%, #e74c3c 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #e74c3c 50%);
}
.colorYellow{
  border-color:#f1c40f;
  color:#f1c40f;
  background-image: -webkit-linear-gradient(top, transparent 50%, #f1c40f 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #f1c40f 50%);
}

.img-thumbnail{
  height: 100%;
  width: 100%;
}


